@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$highlight-color: #3a6a70;
$white-color: #f9f9f9;
$black-color: #131313;
body {
	font-family: 'Open Sans', sans-serif;
	background: $white-color;
	color: $black-color;
	font-size: 2rem;
}
p {
	padding-top: 1rem;
	margin: 1rem;
}
.highlight {
	color: $highlight-color;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
li {
	padding: 1rem;
}
a, a:visited {
	padding: .25rem;
	background: $black-color;
	color: $white-color;
	text-decoration: none;
}
a:hover, a:active {
	color: $highlight-color;
}
@media screen and (min-width: 700px) {
	body {
		font-size: 2.5rem;
	}
	p, ul {
		margin: 2rem;
	}
}