@import url('https://fonts.googleapis.com/css?family=Roboto|Raleway');
$green: #ABFF3A;
$grey: #252525;
$red: #CC343C;
$darkred: #471A28;
$white: #f9f9f9;

body {
	background: $white;
	font-family: 'Roboto', sans-serif;
}
a:visited {
	color: $red;
}
a {
	color: $red;
}
a:active {
	color: $darkred;
}
a:hover {
	color: $darkred;
}
header {
	padding: 1rem;
	text-align: center;
	h1 {
		font-family: 'Raleway', sans-serif;
		font-size: 3rem;
		color: $grey;
		letter-spacing: .5rem;
		margin-bottom: 1rem;
	}
	h2 {
		background: $green;
		color: $grey;
		font-size: 1.5rem;
		padding: 1rem;
		margin: 0 4rem 2rem 4rem;
	}
}
.about {
	margin: .5rem 4rem .5rem 4rem;
}
.projects {
	margin: 3rem 5rem 3rem 5rem;
	ul {
		list-style: none;
	}
	p {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
}
.project-title {
	font-size: 2rem;
}